.carousel-inner{
 width: 100%;
 max-width: 400px;
  height: auto;
  margin: 0 auto;
}
.carousel-inner .carousel-item {
     width: 100%;
  height: auto;
}
.carousel-inner .image-fluid{
    width: 100%;
  height: auto;
}
.jumbotron{

text-align: center;
font-weight: 100;
padding: 10px;
}